doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet'  href='/stylesheets/style.css') 
    title leonspizzeria
  body
    // Röda containers på toppen
    header
      .container
        .item
          a(href='/') 
            // Logo till hemsidan
            img#logo-image(src='/images/luigilogo-removebg-preview.png' alt='' height='110px' width='200px') 
        a.item(href='/meny') 
          p Meny
        // Meny box
        a.item(href='/kontakt')
          p Kontakt
        // Kontakt box
        a.item(href='/order')  
          p Order
        // Order box 
        a.item(href='/profile') 
              img#logo-image(src='/images/Admin-image.png' alt='' height='110px' width='150px')   
        //PROFIL GREJ PÅ INDEX, MÅSTE GÖRAS, KLISTAR IN BILDEN 
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    // Rubriken till starsidan
    h1.indexh1 Välkommna Leons pizzeria
    br
    h2.indexh2 Bästa pizza i stan
    // Länken som leder till beställnngs sida
    a.indexh3(href='/meny') ORDER NOW!!!    
    // 
    br 
    // Footer som ligger på varje sidan
    .footer
      p  Leons pizzeria officiella design : copyright©2023  
       

  
